{{ define "main" }}

<section class="pb-100 bg-light content_20">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-11">
        <h2 class="small">{{ .Title }}</h2>
        <div class="row">
          <div class="mt-25 col-lg-10 inner">
            {{ range .Pages}}
            <div class="relative block">
              <div class="bg-gray radius4 color-white w-100 h-40 f-18 medium lh-40 text-center number">{{ .PublishDate.Format "2006-01-02" }}</div>
              <div class="ml-130 pt-1 pb-50 block_inner">
                <div class="f-heading f-18 medium">Regolith On Stage - v{{ .Params.release_number }}</div>
                <div class="mt-10 color-heading text-adaptive">
                  <div>{{ .Params.summary }}</div>
                  <a href="{{ .Permalink }}" class="link action-1">Detailed Release Notes</a>
                </div>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
