{{ define "main" }}

<section class="pb-80 bg-light content_34 bg-light">
	<div class="container px-xl-0">
		<div class="row">
			<div class="col-xl-1">
			</div>
			<div class="col-lg-8">
				<h2 class="mb-10 small">v{{ .Params.release_number }} - {{ .Title }}</h2>
				<div class="f-18 medium action-2">
					<i class="fas fa-quote-left"></i>
					<i>{{ .Params.summary }}</i>
					<i class="fas fa-quote-right"></i>
				</div>
				<div class="pt-30 f-18 medium pb-30 radius10">
					{{ .Content }}
				</div>
			</div>
			<div class="col-xl-3 col-lg-4">
				<div class="mt-110 mw-270 right">
					<div class="f-14 semibold text-uppercase sp-20">
						Release Details
					</div>
					<div class="mt-15 color-heading text-adaptive">
						<i class="far fa-calendar-check f-18 mr-20"></i>
						{{ .PublishDate.Format "January 2, 2006" }}
					</div>
					<div class="color-heading text-adaptive">
						<i class="fas fa-file-code f-18 mr-20"></i>
						<a href="{{ .Params.tarball_url }}" class="action-1 link">Source code</a> (tar.gz)
					</div>
					<div class="color-heading text-adaptive">
						<i class="fas fa-code-branch f-18 mr-20"></i>
						<a href="{{ .Params.commit_url }}" class="action-1 link">{{ .Params.commit }}</a>
					</div>
					<div class="color-heading text-adaptive">
						<i class="fas fa-download f-18 mr-20"></i>
						<a href="{{ .Params.binary_url }}" data-goatcounter-click="v{{ .Params.release_number}}-binary" class="action-1 link">Binary</a> (amd64)
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{ end }}
