{{ $cta := .Site.Params.download_cta }}
{{ $title := index $cta "button" }}
{{ $url := index $cta "url" }}
{{ $text := index $cta "text" }}

<!-- Call to action 11 -->
<section class="bg-dark color-white text-center text-lg-left call_to_action_11">
	<div class="container px-xl-0 pt-45 pb-45">
		<div class="row align-items-center justify-content-center">
			<div class="col-xl-7 col-lg-8">
				<h6 class="f-22 regular text-adaptive">{{ $text }}</h6>
			</div>
			<div class="col-xl-3 col-lg-4 text-lg-right">
				<a href="{{ $url }}" class="btn mt-30 mt-lg-0 lg action-1">{{ $title }}</a>
			</div>
		</div>
	</div>
</section>
