{{ $faq := .Site.Params.faq }}
{{ $title := index $faq "title" }}
{{ $questions := index $faq "questions" }}
{{ $more := index $faq "more" }}

{{ $var_scss := resources.Get "css/variables.scss" }}
{{ $faq_scss := resources.Get "css/faq.scss" }}
{{ $css := slice $var_scss $faq_scss | resources.Concat "/css/faq.css" | resources.ToCSS }}

<link href="{{ $css.Permalink }}" rel="stylesheet" />

<!-- Content 19 -->
<section id="faq" class="pt-105 pb-80 bg-light content_19">
	<div class="container px-xl-0">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-11">
				<h2 class="small text-left text-lg-center">{{ $title }}</h2>
				<div class="mt-4 color-heading f-14 semibold text-uppercase sp-20 text-center">
					{{ $more | markdownify }}
				</div>
				<div class="row justify-content-center justify-content-lg-between">
					{{ range $questions }}
						<div class="col-lg-6 mt-45 block">
							<div class="f-heading medium f-18 title">{{ .question }}</div>
							<div class="mt-10 color-heading text-adaptive">
								{{ .answer | markdownify }}
							</div>
						</div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>
