{{ $hero := .Site.Params.hero }}
{{ $slogan := index $hero "slogan" }}
{{ $description := index $hero "description" }}
{{ $b_title := index $hero "button_title" }}
{{ $b_url := index $hero "button_url" }}

<!-- Header 9 -->
<section class="bg-light header_9">
	<div class="container mw-970 px-xl-0 text-center bg-light text-lg-left">
		<div class="mb-3 logo d-block d-xl-none logo_mobile">{{ .Site.Title }}</div>
		<div class="row flex-column-reverse flex-lg-row justify-content-lg-between align-items-center">
			<div class="col-lg-6 col-md-7 col-sm-8 pt-20 left">
				<h1>{{ $slogan }}</h1>
				<div class="mt-15 f-18 medium color-heading op-7 text-adaptive">
					{{ $description }}
				</div>
				<div class="mt-50">
					<a href="{{ $b_url }}" class="btn lg action-1">{{ $b_title }}</a>
				</div>
			</div>
			<div class="col-lg-6 col-md-7 col-sm-8">
				<div class="row justify-content-center">
					<div class="col-6 col-lg-12">
						<img src="{{ index $hero "logo_lo_res" }}" srcset="{{ index $hero "logo_hi_res" }} 2x" alt="" class="img-fluid" />
					</div>
				</div>
			</div>
		</div>
	</div>
<section>
