{{ $nav := .Site.Params.navigation }}
{{ $links := index $nav "links" }}
{{ $b_title := index $nav "button_title" }}
{{ $b_url := index $nav "button_url" }}
{{ $is_home := .IsHome }}

<header id="hero" class="pt-210 bg-light header_9">
	<nav class="header_menu_9 pt-30 pb-30 fixed-top bg-light">
		<div class="container mw-970 px-xl-0">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-4">
					<div class="logo">
						<img src="/i/logo-ros-nav.svg" class="w-40 img-fluid" alt="">
						{{ if $is_home }}
							<a class="link color-main" href="#hero">{{ .Site.Title }}</a>
						{{ else }}
							<a class="link color-main" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            {{ end }}
					</div>
				</div>
				<div class="col-lg-8 d-flex align-items-center justify-content-end f-18 medium">
          {{ range $links }}
						{{ if $is_home }}
							<a href="{{ .anchor }}" class="link mx-15 color-main">{{ .title }}</a>
						{{ else }}
							<a href="{{ .Site.BaseURL }}/{{ .anchor }}" class="link mx-15 color-main">{{ .title }}</a>
            {{ end }}
          {{ end }}
					<a href="{{ $b_url }}" class="btn sm action-1">{{ $b_title }}</a>
				</div>
			</div>
		</div>
	</nav>
</header>
