{{ $screenshots := .Site.Params.screenshots }}

<section id="screenshots" class="pb-45 bg-light">
  <div class="container px-xl-0">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div id="carouselCaptions" class="carousel slide">
          <ol class="carousel-indicators">
            {{ range $index, $val := $screenshots }}
              <li data-target="#carouselCaptions" data-slide-to="{{ $index }}"></li>
            {{ end }}
          </ol>
          <div class="carousel-inner">
            {{ range first 1 $screenshots }}
              <div class="carousel-item active">
                <img class="d-block mt-100 radius6" src="{{ .image }}" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                  <p class="bg-action-1 op-5 radius4">&nbsp;</p>
                </div>
                <div class="carousel-caption d-none d-md-block">
                  <p>{{ .caption }}</p>
                </div>
              </div>
            {{ end }}
            {{ range after 1 $screenshots }}
              <div class="carousel-item ">
                <img class="d-block mt-100 radius6" src="{{ .image }}" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                  <p class="bg-action-1 op-5 radius4">&nbsp;</p>
                </div>
                <div class="carousel-caption d-none d-md-block">
                  <p>{{ .caption }}</p>
                </div>
              </div>
            {{ end }}
          </div>
          <a class="carousel-control-prev" href="#carouselCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
